<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://sean-cosmos-service-principal.documents.azure.com:443/" />
    <add key="PrimaryKey" value="UIVUFNNZSnKDVbHCbYFmAXLHPz0FN8kctBI8EkXJNJEDxOhuITDuISaonydnQAW2GqKGdT3QO9K5YAJul7G5nA==" />
  </appSettings>
</configuration>